body{
    font-size: 16px;
    position: static;
}

/*Nav Bar*/
header{
    display: flex;
    position: fixed;
    padding: 16px;
    margin:16px;
    background-color: white;
    width: 100%;

}

li{
    display: inline-block;
    font-size: 1.25rem;  
}
.banner{
    width: 60%;
    margin: 32px 24px;
    display: flex;
}